In [1]:
import pandas as pd

In [2]:
ache_data = pd.read_csv('ache_data.csv', sep=';')

In [3]:
ache_data.head()

,Molecule ChEMBL ID,Molecule Name,Molecule Max Phase,Molecular Weight,#RO5 Violations,AlogP,Compound Key,Smiles,Standard Type,Standard Relation,...,Target Name,Target Organism,Target Type,Document ChEMBL ID,Source ID,Source Description,Document Journal,Document Year,Cell ChEMBL ID,Properties
0,CHEMBL4065242,NaN,0,432.52,0,4.67,3b,COc1cc2c(cc1OC)C(c1ccccc1)N(Cc1cc(C)cc(/C=N/O)...,Activity,'=',...,Acetylcholinesterase,Homo sapiens,SINGLE PROTEIN,CHEMBL4043104,1,Scientific Literature,Bioorg Med Chem,2017.0,None,NaN
1,CHEMBL4073838,NaN,0,418.49,0,4.37,1b,COc1cc2c(cc1OC)C(c1ccccc1)N(Cc1cccc(/C=N/O)c1O...,Activity,'=',...,Acetylcholinesterase,Homo sapiens,SINGLE PROTEIN,CHEMBL4043104,1,Scientific Literature,Bioorg Med Chem,2017.0,None,NaN
2,CHEMBL4080917,NaN,0,376.84,0,3.43,4a,COc1cc2c(cc1OC)CN(Cc1cc(Cl)cc(/C=N/O)c1O)CC2,Activity,'=',...,Acetylcholinesterase,Homo sapiens,SINGLE PROTEIN,CHEMBL4043104,1,Scientific Literature,Bioorg Med Chem,2017.0,None,NaN
3,CHEMBL4088294,NaN,0,342.40,0,2.78,2a,COc1cc2c(cc1OC)CN(Cc1ccc(O)c(/C=N/O)c1)CC2,Activity,'=',...,Acetylcholinesterase,Homo sapiens,SINGLE PROTEIN,CHEMBL4043104,1,Scientific Literature,Bioorg Med Chem,2017.0,None,NaN
4,CHEMBL4063109,NaN,0,533.64,2,5.22,6d,COc1cc2c(cc1OC)C(c1ccccc1)N(CC1CCN(Cc3cc(F)cc(...,Activity,'=',...,Acetylcholinesterase,Homo sapiens,SINGLE PROTEIN,CHEMBL4043104,1,Scientific Literature,Bioorg Med Chem,2017.0,None,NaN

In [4]:
ache_data.columns

Index(['Molecule ChEMBL ID', 'Molecule Name', 'Molecule Max Phase',
       'Molecular Weight', '#RO5 Violations', 'AlogP', 'Compound Key',
       'Smiles', 'Standard Type', 'Standard Relation', 'Standard Value',
       'Standard Units', 'pChEMBL Value', 'Data Validity Comment', 'Comment',
       'Uo Units', 'Ligand Efficiency BEI', 'Ligand Efficiency LE',
       'Ligand Efficiency LLE', 'Ligand Efficiency SEI', 'Potential Duplicate',
       'Assay ChEMBL ID', 'Assay Description', 'Assay Type', 'BAO Format ID',
       'BAO Label', 'Assay Organism', 'Assay Tissue ChEMBL ID',
       'Assay Tissue Name', 'Assay Cell Type', 'Assay Subcellular Fraction',
       'Assay Parameters', 'Assay Variant Accession', 'Assay Variant Mutation',
       'Target ChEMBL ID', 'Target Name', 'Target Organism', 'Target Type',
       'Document ChEMBL ID', 'Source ID', 'Source Description',
       'Document Journal', 'Document Year', 'Cell ChEMBL ID', 'Properties'],
      dtype='object')

Принципиально интересны следующие колонки:
* Molecule ChEMBL ID — для поиска дубликатов
* Smiles — как источник дескрипторов
* Standard Type — интересует IC50
* Standard Value — значение
* Standard Units — величина измерения
Поэтому создадим сет из них.

In [5]:
ache_data_edited = ache_data[['Molecule ChEMBL ID', 'Smiles', 'Standard Type', 'Standard Value', 'Standard Units']]

In [6]:
ache_data_edited['Standard Type'].value_counts()

IC50                8205
Inhibition          1933
Ki                  1843
Activity            1388
K                    410
                    ...
INH                    2
Drug degradation       2
Kic                    1
Fold IC50              1
IC33                   1
Name: Standard Type, Length: 67, dtype: int64

Возьмём все значения IC50, то есть полуингибирующей концентрации, наиболее удобной величины, а также удалим пустые значения.

In [7]:
IC50 = ache_data_edited[ache_data_edited['Standard Type'].str.contains('IC50')]

In [8]:
IC50_nonan = IC50.dropna()

In [9]:
ache_data_edited['Standard Units'].value_counts()

nM              8118
%               3060
/min             294
/mM/min          268
M-1 min-1        199
uM                86
mM/min            49
hr                49
/M/min            43
M                 36
min-1             36
10'3/M/min        36
ug.mL-1           31
ug                31
10e-3 1/s         28
min               23
s-1               19
10'-3/min         17
10^-3/min         16
ng                16
deltaA/min         6
10'4/M/min         6
/hr                5
10'3L/M            4
10'5/M/min         4
10'5L/M            4
mAU/min            4
M-min              4
10'7/M/min         4
10'5pM             3
10'8/M/min         3
U/min              3
10'-1nmol          3
10^8M              2
10'-4nmol          2
10'-8mol/min       2
10'6/M/min         2
10'-2nmol          2
degrees C          2
10'6pM             2
10^-4microM        2
mM                 2
%/hr               1
nmol               1
/min/M             1
10'3pM             1
10'2/M/min         1
Name: Standard Units, dtype: int64

In [10]:
IC50_nonan_units = IC50_nonan[IC50_nonan['Standard Units'].str.contains('nM')]

In [11]:
IC50_nonan_units.head()

,Molecule ChEMBL ID,Smiles,Standard Type,Standard Value,Standard Units
14,CHEMBL3585775,COc1ccccc1C(C)NS(=O)(=O)NC(=O)OCc1ccccc1,IC50,0.02685,nM
15,CHEMBL4127071,C=C(C)[C@@H](O)CC[C@]1(C)[C@@H](CC=C(C)C)C[C@]...,IC50,9130.00000,nM
23,CHEMBL552832,Cl.O=C(CCC1CCN(Cc2ccccc2)CC1)c1ccccc1,IC50,305.00000,nM
24,CHEMBL2441674,COc1cc2c(cc1OC)C(=O)C(CCCCCc1cccc(OC)[n+]1C)C2...,IC50,120.00000,nM
25,CHEMBL2441672,COc1cc2c(cc1OC)C[N+](C)(CCCCCCc1cccc(OC)[n+]1C...,IC50,150.00000,nM

In [12]:
IC50_nonan_units['Standard Units'].value_counts()

nM    6908
Name: Standard Units, dtype: int64

Далее стоит обратить внимание на то, есть ли повторы в данных по колонке Molecule ChEMBL ID.

In [13]:
IC50_nonan_units['Molecule ChEMBL ID'].value_counts()

CHEMBL95         156
CHEMBL502        121
CHEMBL659         68
CHEMBL94          47
CHEMBL636         41
                ...
CHEMBL430886       1
CHEMBL371798       1
CHEMBL191416       1
CHEMBL4281440      1
CHEMBL4240365      1
Name: Molecule ChEMBL ID, Length: 5639, dtype: int64

In [14]:
data = IC50_nonan_units.drop_duplicates(subset=['Molecule ChEMBL ID'])

In [15]:
data

,Molecule ChEMBL ID,Smiles,Standard Type,Standard Value,Standard Units
14,CHEMBL3585775,COc1ccccc1C(C)NS(=O)(=O)NC(=O)OCc1ccccc1,IC50,0.02685,nM
15,CHEMBL4127071,C=C(C)[C@@H](O)CC[C@]1(C)[C@@H](CC=C(C)C)C[C@]...,IC50,9130.00000,nM
23,CHEMBL552832,Cl.O=C(CCC1CCN(Cc2ccccc2)CC1)c1ccccc1,IC50,305.00000,nM
24,CHEMBL2441674,COc1cc2c(cc1OC)C(=O)C(CCCCCc1cccc(OC)[n+]1C)C2...,IC50,120.00000,nM
25,CHEMBL2441672,COc1cc2c(cc1OC)C[N+](C)(CCCCCCc1cccc(OC)[n+]1C...,IC50,150.00000,nM
...,...,...,...,...,...
15489,CHEMBL4590539,CCN(CC)Cc1cc2cc(c1O)Oc1ccc(cc1)C[C@H]1c3cc(c(O...,IC50,68000.00000,nM
15494,CHEMBL452895,COc1cc2c3cc1Oc1c(O)c(OC)cc4c1[C@@H](Cc1ccc(O)c...,IC50,97000.00000,nM
15500,CHEMBL4757466,O=C(CCN1CCC2c3ccccc3NC2C1)Nc1ccc(/C=C2\CCn3c2n...,IC50,9.75000,nM
15512,CHEMBL4787251,COc1cc2c(cc1O)CCC(C)(CCNCCOCCOCCNc1c3c(nc4cc(C...,IC50,8.35000,nM
15534,CHEMBL4240365,C=Cc1oc2ccc(Br)cc2c(=O)c1CN(/C=C/C(=O)OC)Cc1cc...,IC50,20000.00000,nM

Наконец, выберем активные и неактивные молекулы.

In [16]:
active = data.loc[data['Standard Value']<=500]

In [17]:
active.shape

(1993, 5)

In [18]:
active['label'] = 1

/tmp/ipykernel_490597/375007285.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  active['label'] = 1

In [19]:
active.head()

,Molecule ChEMBL ID,Smiles,Standard Type,Standard Value,Standard Units,label
14,CHEMBL3585775,COc1ccccc1C(C)NS(=O)(=O)NC(=O)OCc1ccccc1,IC50,0.02685,nM,1
23,CHEMBL552832,Cl.O=C(CCC1CCN(Cc2ccccc2)CC1)c1ccccc1,IC50,305.00000,nM,1
24,CHEMBL2441674,COc1cc2c(cc1OC)C(=O)C(CCCCCc1cccc(OC)[n+]1C)C2...,IC50,120.00000,nM,1
25,CHEMBL2441672,COc1cc2c(cc1OC)C[N+](C)(CCCCCCc1cccc(OC)[n+]1C...,IC50,150.00000,nM,1
26,CHEMBL2441669,COc1cccc(CCCCCCCCc2cccc(OC)[n+]2C)[n+]1C.O=S(=...,IC50,180.00000,nM,1

In [20]:
inactive = data.loc[data['Standard Value']>500]

In [21]:
inactive.shape

(3646, 5)

In [22]:
inactive['label'] = 0

/tmp/ipykernel_490597/3305511170.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inactive['label'] = 0

In [23]:
inactive.head()

,Molecule ChEMBL ID,Smiles,Standard Type,Standard Value,Standard Units,label
15,CHEMBL4127071,C=C(C)[C@@H](O)CC[C@]1(C)[C@@H](CC=C(C)C)C[C@]...,IC50,9130.0,nM,0
35,CHEMBL4525824,O=C(c1cccc(Cl)c1Cl)n1nc(OCCN2CCCC2)c2ccccc21,IC50,10000.0,nM,0
36,CHEMBL4531896,O=C(c1ccccc1OCc1ccccc1)n1nc(OCCN2CCCC2)c2ccccc21,IC50,10000.0,nM,0
37,CHEMBL4441005,COc1cc(C(=O)n2nc(OCCN3CCCC3)c3ccccc32)cc(OC)c1OC,IC50,11600.0,nM,0
38,CHEMBL4476861,O=C(c1cccc2ccccc12)n1nc(OCCCN2CCCC2)c2ccccc21,IC50,10000.0,nM,0

In [24]:
X = active.append(inactive, ignore_index=True)

In [25]:
X

,Molecule ChEMBL ID,Smiles,Standard Type,Standard Value,Standard Units,label
0,CHEMBL3585775,COc1ccccc1C(C)NS(=O)(=O)NC(=O)OCc1ccccc1,IC50,0.02685,nM,1
1,CHEMBL552832,Cl.O=C(CCC1CCN(Cc2ccccc2)CC1)c1ccccc1,IC50,305.00000,nM,1
2,CHEMBL2441674,COc1cc2c(cc1OC)C(=O)C(CCCCCc1cccc(OC)[n+]1C)C2...,IC50,120.00000,nM,1
3,CHEMBL2441672,COc1cc2c(cc1OC)C[N+](C)(CCCCCCc1cccc(OC)[n+]1C...,IC50,150.00000,nM,1
4,CHEMBL2441669,COc1cccc(CCCCCCCCc2cccc(OC)[n+]2C)[n+]1C.O=S(=...,IC50,180.00000,nM,1
...,...,...,...,...,...,...
5634,CHEMBL4763528,CN1C[C@@H](c2cccs2)[C@@]2(CSc3ccccc3C2=O)C12C(...,IC50,21160.00000,nM,0
5635,CHEMBL4169394,Cc1cc(=O)oc2cc(OCCSC(=S)N(C)C)ccc12,IC50,10590.00000,nM,0
5636,CHEMBL4590539,CCN(CC)Cc1cc2cc(c1O)Oc1ccc(cc1)C[C@H]1c3cc(c(O...,IC50,68000.00000,nM,0
5637,CHEMBL452895,COc1cc2c3cc1Oc1c(O)c(OC)cc4c1[C@@H](Cc1ccc(O)c...,IC50,97000.00000,nM,0
5638,CHEMBL4240365,C=Cc1oc2ccc(Br)cc2c(=O)c1CN(/C=C/C(=O)OC)Cc1cc...,IC50,20000.00000,nM,0

In [26]:
X['label'].value_counts()

0    3646
1    1993
Name: label, dtype: int64

In [27]:
X.to_csv('data.csv', sep='\t')